
.home-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  .first-part {
    flex: 1;
  }
  
  .box1 {
    max-width: 600px;
    margin-top: -150px;
    text-align: center;
    justify-content: center;
  }
  
  .explore-button {
    display: inline-block;
    width: 50%;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px 10px;
    font-size: 22px;
    text-transform: uppercase;
    background-color: #FF2625;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  
  
  
  .explore-button:hover {
    background-color: #D91E1E;
  }
  
  
  
  .image-motivation {
    flex: 1;
    text-align: center;
  }

  .features{
    margin: 10px 20px;
    padding: 20px;
    /* background-color: #f0f0f0; */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    width: 95%;
    font-size: 20px;
    line-height: 30px;
  }
  li:hover{
    background-color: #e0e0e0;
    color:#007bff;
  }
  ul.custom-symbol {
    list-style: none; /* Remove default list-style */
    padding-left: 1.5em; /* Adjust the padding as needed for spacing */
}

ul.custom-symbol li::before {
    content: "\00BB"; /* Unicode character for a checkmark (✔) */
    color: #007bff; /* Change the color as desired */
    font-size: 1.2em; /* Adjust the font size as needed */
    margin-right: 0.5em; /* Adjust the spacing between the symbol and text */
}
/* Add styles for the dark mode toggle button */
/* Light mode styles */
body {
  background-color: #fff;
  color: #333;
}

/* Dark mode styles */
.dark-mode {
  background-color: #333;
  color: #fff;
}

/* Dark mode button styles */
.dark-mode-toggle-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}


 
  